.info{
    padding: 0 20px;
    display: grid;
}

.info ul{
    display: grid;
    gap: 10px;
}

.name{
    font-size: 26px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.point{
    font-weight: 700;
    color: #333;
    font-style: italic;
}

.link{
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 79, 248);
    transition: all ease .2s;
}
.link:hover{
    color: rgb(61, 123, 255);
}