.container{
    padding: 0 15px;
}
.header{
    padding: 0;
}

.users{
    margin-bottom: 20px;
    margin-right: 5px;
}

.btnContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btn{
    background-color: green;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 0 2px #333;
    cursor: pointer;
    outline: none;
    transition: all ease .2s;
}

.btn:hover{
    background-color: rgb(1, 156, 1);
}
