.avatar{
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.avatar img{
    object-fit: cover;
    max-height: 100%;
}
.input{
    display: none;
}
.btn{
    cursor: pointer;
    outline: none;
    background-color: rgb(212, 212, 212);
    color: #333;
    transition: all ease .2s;
    border: 1px solid #333;
    font-size: 12px;
    width: 100%;
    padding: 5px;
}
.btn:hover{
    background-color: #fff;
}