.item{
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-bottom: 10px;
}
.item:last-child{
    margin-bottom: 0;
}

.img_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 60px;
    border-radius: 50%;
}
.img_inner img{ 
    object-fit: cover;
    max-width: 100%;
}

.name{
    font-weight: 700;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.message{
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    margin-left: 15px;
    position: relative;
    border-radius: 5px;
}

.message::after{
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 10px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
}

.item.companion{
    grid-template-columns: 1fr 60px;
}
.item.companion .img_inner{
    order: 2;
}
.item.companion .user{
    order: 1;
}
.item.companion .message{
    margin-left: 0;
    margin-right: 15px;
}

.item.companion .message::after{
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    left: 100%;
}