.header{
  width: 100%;
  background: rgb(5,51,151);
  background: linear-gradient(0deg, rgba(5,51,151,1) 0%, rgba(15,15,151,1) 15%, rgba(0,130,255,1) 100%); 
  box-shadow: 0 0 3px #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo{
  display: inline-flex;
  margin-left: 20px;
  overflow: hidden;
}

.logo img{
  display: flex;
  justify-content: center;
  width: 70px;
  box-shadow: 0 0 3px #333;
}

.img{
  border-radius: 50%;
  max-width: 100%;
}

.login{
  float: right;
  padding: 0 30px;
}

.login a {
  color: rgb(211, 211, 211);
  text-decoration: none;
  font-weight: 700;
  transition: all ease .2s;
}

.login a:hover{
  color: #fff;
}

.btn{
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: all ease .2s;
}

.btn:hover{
  background-color: #333;
  color: #fff;
}