.form{
    padding: 0 15px;
}

.input{
    width: 300px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    font-size: 16px;
}

.checkbox{
    font-size: 15px;
    font-style: italic;
    color: #333;
}

.btn{
    margin-top: 10px;
    background-color: rgb(52, 80, 235);
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all ease .2s;
    &:hover{
        background-color: rgb(71, 97, 247);
    }
}

.captcha{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}